
.TimerContainer{
    color: #007bff;
    margin-top: 15px;
    margin-left: 50px;
}

h1, p {
    text-align: center;
}

#start,
#question-display,
#questions,
#quizend {
    text-align: center;
    background-color: #ffffff;
}

button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline;
   margin: 20px 5px;
   
}

#results-correct-wrong {
    color: #007bff;
    margin-top: 15px;
    margin-left: 50px;
}

#inputName{
    width: 300px;
   display: inline;
   margin-right: 10px;
   margin-left: 300px;
    
}

#inputName, 
#qsbutton{
    display: inline;
}

#buttonsend {
 justify-content: center;
 margin-top: 15px;

}

#quizendtext {
    font-size: 20px;
}

